@page
@model WebAppRazor.Pages.Staff.ClubManageModel
@{
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Badminton Booking Platform</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="~/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="~/assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="~/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md py-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#"><span><strong>Bacol</strong></span></a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a class="btn btn-secondary" role="button" asp-page-handler="Logout" class="dropdown-item">Đăng xuất</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="bg-light" style="min-height: 80vh;">
        <div class="d-flex">
            <div style="min-height: 80vh;background: var(--bs-white);">
                <div class="p-4 pb-2 pt-2">
                    <a href="ClubManage" style="text-decoration: none;color: var(--bs-black);">Quản lý club</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="CourtManage" style="text-decoration: none;color: var(--bs-black);">Quản lý sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="SlotManage" style="text-decoration: none;color: var(--bs-black);">Quản lý giờ, giá</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="ClubBookManage" style="text-decoration: none;color: var(--bs-black);">Lịch đặt sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="MatchManage" style="text-decoration: none;color: var(--bs-black);">Lịch thi đấu</a>
                </div>
            </div>
            <div style="flex: 1;" class="p-4">
                <h2 class="fs-4 text-center mt-0">Quản lý club</h2>

                @* CHECK IF MESSAGE NOT NULL *@
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    var messageClass = Model.Message.StartsWith(Constants.MessagePrefix.ERROR.ToString()) ? "alert-danger" :
                    Model.Message.StartsWith(Constants.MessagePrefix.SUCCESS.ToString()) ? "alert-success" :
                    Model.Message.StartsWith(Constants.MessagePrefix.WARNING.ToString()) ? "alert-warning" :
                    "alert-info";

                    <div class="alert @messageClass" role="alert">
                        <p class="m-0 p-1">@Model.Message.Substring(1)</p>
                    </div>
                }

                <form method="post" asp-page-handler="@(Model.Club == null ? "AddClub" : "SaveClub")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mt-4">
                        <p>Tên câu lạc bộ</p>
                        <input class="form-control" type="text" asp-for="Club.ClubName">
                        <span asp-validation-for="Club.ClubName" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Địa chỉ</p>
                        <input class="form-control" type="text" asp-for="Club.Address">
                        <span asp-validation-for="Club.Address" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p style="margin-top: 8px;">Tỉnh / Thành phố</p>
                        <select id="City" class="form-select" asp-for="CityId" asp-items="Model.Cities" onchange="fetchDistricts()">
                            <option value="">Chọn tỉnh / thành phố</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p style="margin-top: 8px;">Quận / huyện</p>
                        <select id="District" class="form-select" asp-for="Club.DistrictId" asp-items="Model.Districts">
                            <option value="">Chọn quận / huyện</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Email</p>
                        <input class="form-control" type="email" asp-for="Club.ClubEmail">
                        <span asp-validation-for="Club.ClubEmail" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Số điện thoại</p>
                        <input class="form-control" type="text" asp-for="Club.ClubPhone">
                        <span asp-validation-for="Club.ClubPhone" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Fanpage</p>
                        <input class="form-control" type="text" asp-for="Club.FanpageLink">
                        <span asp-validation-for="Club.FanpageLink" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Avatar</p>
                        <input class="form-control" type="text" asp-for="Club.AvatarLink">
                        <span asp-validation-for="Club.AvatarLink" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Giờ mở cửa</p>
                        <input class="form-control" type="time" asp-for="Club.OpenTime">
                        <span asp-validation-for="Club.OpenTime" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Giờ đóng cửa</p>
                        <input class="form-control" type="time" asp-for="Club.CloseTime">
                        <span asp-validation-for="Club.CloseTime" class="text-danger"></span>
                    </div>
                    <!-- New Fields for ClientId, ApiKey, ChecksumKey -->
                    <div class="mt-4">
                        <p>Client ID</p>
                        <input class="form-control" type="text" asp-for="Club.ClientId">
                        <span asp-validation-for="Club.ClientId" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>API Key</p>
                        <input class="form-control" type="text" asp-for="Club.ApiKey">
                        <span asp-validation-for="Club.ApiKey" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <p>Checksum Key</p>
                        <input class="form-control" type="text" asp-for="Club.ChecksumKey">
                        <span asp-validation-for="Club.ChecksumKey" class="text-danger"></span>
                    </div>

                    <div class="mt-4">
                        <div class="form-group">
                            <label class="control-label">Loại Hình Dịch Vụ</label>
                            <div class="tag-checkboxes mt-2">
                                @foreach (var bookingType in Model.BookingTypes)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" id="bookingType_@bookingType.Value" name="SelectedBookingTypes" value="@bookingType.Value"
                                               class="form-check-input"
                                        @(Model.SelectedBookingTypes != null && Model.SelectedBookingTypes.Contains(Convert.ToInt32(bookingType.Value)) ? "checked" : "") />
                                        <label class="form-check-label" for="bookingType_@bookingType.Value">@bookingType.Text</label>
                                    </div>
                                }
                            </div>
                            <span asp-validation-for="SelectedBookingTypes" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        @if (Model.Club != null)
                        {
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        }
                        else if (Model.c != 1)
                        {
                            <button type="submit" class="btn btn-primary">Đăng ký</button>
                        }
                    </div>

                </form>
            </div>
        </div>
        </div>
    </main>
    <footer></footer>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bs-init.js"></script>
    <script src="~/assets/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="~/assets/js/Simple-Slider.js"></script>
    <script>
        function fetchDistricts() {
            var cityId = document.getElementById("City").value;

            // Send an AJAX request to fetch districts
            $.ajax({
                type: "GET",
                url: "/Staff/ClubManage?handler=GetDistricts&cityId=" + cityId, // Adjust the URL according to your routing
                success: function (response) {
                    var districtSelect = document.getElementById("District");
                    districtSelect.innerHTML = '<option value="">Chọn quận / huyện</option>'; // Clear existing options

                    // Populate the districts dropdown
                    response.forEach(function (district) {
                        var option = document.createElement("option");
                        option.value = district.value;
                        option.text = district.text;
                        districtSelect.add(option);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    </script>

</body>
</html>