@page
@model WebAppRazor.Pages.Staff.CourtManageModel
@{
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Badminton Booking Platform</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="~/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="~/assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="~/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md py-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center"
                   href="#"><span><strong>Bacol</strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">
                        Toggle
                        navigation
                    </span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a class="btn btn-secondary" role="button" asp-page-handler="Logout" class="dropdown-item">Đăng xuất</a>
                </div>
            </div>
        </nav>
    </header>

    <main class="bg-light" style="/*padding-bottom: 2rem;*/min-height: 80vh;">
        <div class="d-flex">
            <div style="min-height: 80vh;background: var(--bs-white);">
                <div class="p-4 pb-2 pt-2">
                    <a href="/Staff/ClubManage" style="text-decoration: none;color: var(--bs-black);">Câu lạc bộ</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="/Staff/CourtManage" style="text-decoration: none;color: var(--bs-black);">Quản lý sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="/Staff/SlotManage" style="text-decoration: none;color: var(--bs-black);">Quản lý giá theo khung giờ</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="/Staff/ClubBookManage" style="text-decoration: none;color: var(--bs-black);">Lịch đặt sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="/Staff/MatchManage" style="text-decoration: none;color: var(--bs-black);">Lịch thi đấu</a>
                </div>
            </div>
            <div style="flex: 1;" class="p-4">
                <h2 class="fs-4 text-center mt-0">Quản lý sân</h2>

                @* CHECK IF MESSAGE NOT NULL *@
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    var messageClass = Model.Message.StartsWith(Constants.MessagePrefix.ERROR.ToString()) ? "alert-danger" :
                    Model.Message.StartsWith(Constants.MessagePrefix.SUCCESS.ToString()) ? "alert-success" :
                    Model.Message.StartsWith(Constants.MessagePrefix.WARNING.ToString()) ? "alert-warning" :
                    "alert-info";

                    <div class="alert @messageClass" role="alert">
                        <p class="m-0 p-1">@Model.Message.Substring(1)</p>
                    </div>
                }

                <div class="d-flex mt-4">
                    <button class="btn btn-primary" type="button" style="margin-left: auto;" data-bs-target="#modal-1" data-bs-toggle="modal">Thêm sân</button>
                </div>

                <form method="get" style="margin-top: 16px;" class="mt-4">
                    <input name="searchString" class="form-control" type="search" placeholder="Nhập từ khóa để tìm kiếm" value="@Request.Query["searchString"]">
                    <div class="d-flex flex-lg-row">
                        <div class="d-flex" style="column-gap: 1rem;margin-left: auto;">
                            <div>
                                <p style="margin-bottom: 8px;margin-top: 8px;">Tìm kiếm theo</p>
                                <select name="searchProperty" class="form-select">
                                    <option value="CourtId" selected="">Mã sân</option>
                                    <option value="TypeName">Loại sân</option>
                                </select>
                            </div>
                            <div>
                                <p style="margin-bottom: 8px;margin-top: 8px;">Sắp xếp theo</p>
                                <select name="sortProperty" class="form-select">
                                    <option value="CourtId" selected="">Mã sân</option>
                                    <option value="TypeName">Loại sân</option>
                                </select>
                            </div>
                            <div>
                                <p style="margin-bottom: 8px;margin-top: 8px;">Thứ tự sắp xếp</p>
                                <select name="sortOrder" class="form-select">
                                    <option value="0" selected="">Mặc định</option>
                                    <option value="1">Tăng dần</option>
                                    <option value="-1">Giảm dần</option>
                                </select>
                            </div><input class="btn btn-primary align-self-end mt-4" type="submit"
                                         style="height: fit-content;margin-top: 11px;" value="Tìm kiếm">
                        </div>
                    </div>
                </form>
                <div class="table-responsive mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Mã sân</th>
                                <th class="text-center">Loại sân</th>
                                <th class="text-center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <p class="text-secondary">Tìm thấy @Model.TotalCourts sân</p>
                            @foreach (var court in Model.FilterCourtsDto)
                            {
                                <tr class="text-center">
                                    <td class="text-center">@court.CourtId</td>
                                    <td class="text-center">
                                        @Model.CourtTypes.FirstOrDefault(x => x.CourtTypeId == court.CourtTypeId)?.TypeName
                                    </td>
                                    <td class="text-center">
                                        <a asp-route-id="@court.CourtId" asp-page="./CourtDelete" class="btn btn-danger" role="button">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title fs-5">Thêm sân</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-label" style="display: block;/*width: 100%;*/">
                                Số lượng
                                <input asp-for="CreateCourt.Quantity" class="form-control mt-2" type="text" placeholder="Nhập số lượng sân cần thêm">
                                <span asp-validation-for="CreateCourt.Quantity" class="text-danger"></span>
                            </label>
                            <label class="form-label mt-4" style="display: block;/*width:100%;*/">
                                Loại sân
                                <select id="CourtTypeId" asp-for="CreateCourt.CourtTypeId" class="form-control form-select mt-2" asp-items="ViewBag.CourtTypeId"></select>
                                <span asp-validation-for="CreateCourt.CourtTypeId" class="text-danger"></span>
                            </label>
                            <label class="form-label mt-4" style="display: block;">
                                Câu lạc bộ
                                <div id="ClubId" class="form-control mt-2">
                                    @foreach (var club in Model.Clubs)
                                    {
                                        if (Model.LoginedAccount != null && club.ClubId == Model.LoginedAccount.ClubManageId)
                                        {
                                            @club.ClubName
                                            <input type="hidden" asp-for="CreateCourt.ClubId" value="@club.ClubId" />
                                        }
                                    }
                                </div>
                                <span asp-validation-for="CreateCourt.ClubId" class="text-danger"></span>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Hủy</button>
                            <button class="btn btn-primary" type="submit">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title fs-5">Xác nhận cập nhật</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Hủy</button>
                            <a class="btn btn-primary" role="button">Xác nhận</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-center bg-dark" style="padding-top: 1rem;padding-bottom: 1rem;">
        <ul class="list-inline">
            <li class="list-inline-item me-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                     class="bi bi-facebook text-light">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951">
                    </path>
                </svg>
            </li>
            <li class="list-inline-item me-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter text-light">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15"></path>
                </svg>
            </li>
            <li class="list-inline-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram text-light">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"></path>
                </svg>
            </li>
        </ul>
    </footer>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="~/assets/js/Simple-Slider.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
