@page
@model RazorWebApp.Pages.Staff.SlotManageModel
@{
    ViewData["Title"] = "Quản lý giờ, giá";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Badminton Booking Platform</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="~/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="~/assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="~/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md py-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <span><strong>Bacol</strong></span>
                </a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a class="btn btn-secondary" role="button" asp-page-handler="Logout">Đăng xuất</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="bg-light" style="/*padding-bottom: 2rem;*/min-height: 80vh;">
        <div class="d-flex">
            <div style="min-height: 80vh;background: var(--bs-white);">
                <div class="p-4 pb-2 pt-2">
                    <a href="ClubManage" style="text-decoration: none;color: var(--bs-black);">Quản lý club</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="CourtManage" style="text-decoration: none;color: var(--bs-black);">Quản lý sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="SlotManage" style="text-decoration: none;color: var(--bs-black);">Quản lý giờ, giá</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="ClubBookManage" style="text-decoration: none;color: var(--bs-black);">Lịch đặt sân</a>
                </div>
                <div class="p-4 pb-2 pt-2">
                    <a href="MatchManage" style="text-decoration: none;color: var(--bs-black);">Lịch thi đấu</a>
                </div>
            </div>
            <div style="flex: 1;" class="p-4">
                <h2 class="fs-4 text-center mt-0">Quản lý giờ, giá</h2>
                <div class="d-flex mt-4">
                    <button class="btn btn-primary" type="button" style="margin-left: auto;" data-bs-target="#add-modal" data-bs-toggle="modal">
                        Thêm giờ
                    </button>
                </div>
                <form style="margin-top: 16px;" class="mt-4">
                    <input class="form-control" type="search" placeholder="Khung giờ, giá tiền">
                    <div class="d-flex flex-lg-row">
                        <div class="d-flex" style="column-gap: 1rem;margin-left: auto;">
                            <div>
                                <p style="margin-bottom: 8px;margin-top: 8px;">Sắp xếp theo</p>
                                <select class="form-select">
                                    <optgroup label="This is a group">
                                        <option value="12" selected="">This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div>
                                <p style="margin-bottom: 8px;margin-top: 8px;">Thứ tự sắp xếp</p>
                                <select class="form-select">
                                    <optgroup label="This is a group">
                                        <option value="12" selected="">This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                            <input class="btn btn-primary align-self-end mt-4" type="submit" style="height: fit-content;margin-top: 11px;" value="Tìm kiếm">
                        </div>
                    </div>
                </form>
                <div style="flex: 1;" class="p-4">
                    <h2 class="fs-4 text-center mt-0">@ViewData["Title"]</h2>
                    <!-- Button thêm giờ -->

                    <div class="table-responsive mt-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Khung giờ</th>
                                    <th class="text-center">Giá tiền</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var slot in Model.Slots)
                                {
                                    <tr>
                                        <td class="text-center">@($"{slot.StartTime:HH\\:mm} - {slot.EndTime:HH\\:mm}")</td>
                                        <td class="text-center">@($"{slot.Price:N0} (đồng)")</td>
                                        <td class="text-center">
                                            <button class="btn btn-light" type="button" data-bs-target="#update-modal" data-bs-toggle="modal" data-slot-id="@slot.SlotId">
                                                Cập nhật giá
                                            </button>
                                            <button class="btn btn-danger ms-4" type="button" data-bs-target="#delete-modal" data-bs-toggle="modal" data-slot-id="@slot.SlotId">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- thêm giờ-->
        <div class="modal fade" role="dialog" tabindex="-1" id="add-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" asp-page-handler="AddSlot">
                        <div class="modal-header">
                            <h4 class="modal-title fs-5">Thêm giờ</h4>
                            <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-label" style="display: block;">
                                Giờ bắt đầu
                                <input name="NewSlot.StartTime" class="form-control mt-2" type="time" step="900">
                            </label>
                            <label class="form-label mt-4" style="display: block;">
                                Thời lượng
                                <select name="NewSlot.Duration" class="form-select mt-2">
                                    <option value="30">30 phút</option>
                                    <option value="60">1 giờ</option>
                                    <option value="90">1 giờ 30 phút</option>
                                    <option value="120">2 giờ</option>
                                </select>
                            </label>
                            <label class="form-label mt-4" style="display: block;">
                                Giá tiền
                                <input name="NewSlot.Price" class="form-control mt-2" type="text" placeholder="Đơn vị: đồng">
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Hủy</button>
                            <button class="btn btn-primary" type="submit">Lưu</button>
                        </div>
                    </form>
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="alert alert-danger mt-2" role="alert">
                            @Model.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
